.imgBox{
	width: 143px;
	height: 300px;
	max-width: 143px;
	position: relative;
	right: 20px;
    bottom: 8px;
}

.imgBox__hangImages{
	color: red;
	position: absolute;
}

.imgBox__hangImages--img00{
	left: 32px;
    top: 1px;
    z-index: $imgOverZ-index2;
}

.imgBox__hangImages--img01{
	left: 69px;
    top: 98px;
    z-index: $imgUnderZ-index1;
}

.imgBox__hangImages--img02{
	left: 55px;
    top: 115px;
    z-index: $imgUnderZ-index1;
}

.imgBox__hangImages--img03{
	left: 88px;
    top: 115px;
    z-index: $imgUnderZ-index1;
}

.imgBox__hangImages--img04{
	left: 13px;
    top: 115px;
    z-index: $imgUnderZ-index1;
}

.imgBox__hangImages--img05{
	left: 139px;
    top: 163px;
    z-index: 0;
}

.imgBox__hangImages--img06{
	left: 11px;
    top: 162px;
    z-index: 0;
}

.imgBox__hangImages--img07{
	left: 84px;
    top: 191px;
    z-index: $imgUnderZ-index1;
}

.imgBox__hangImages--img08{
	left: 38px;
    top: 191px;
    z-index: $imgUnderZ-index1;
}

.imgBox__hangImages--img09{
	left: 100px;
    top: 273px;
    z-index: 0;
}

.imgBox__hangImages--img010{
	left: 21px;
    top: 273px;
    z-index: 0;
}