@import "components/baseVariables";
@import "components/base";
@import "components/layout";
@import "components/modules";
@import "components/states";


.imgBox{
	width: 287px;
	height: 571px;
	max-width: 287px;
	max-height: 571px;
	position: absolute;
}

.imgBox__hangImages{
	color: red;
	position: absolute;
}

.imgFeatures{
	
}

.imgBox__hangImages--img00{
	left: 42px;
    top: 1px;
    z-index: 2;
}

.imgBox__hangImages--img01{
	left: 115px;
    top: 193px;
    z-index: 1;
}

.imgBox__hangImages--img02{
	left: 88px;
    top: 223px;
    z-index: 1;
}

.imgBox__hangImages--img03{
	left: 152px;
    top: 223px;
    z-index: 1;
}

.imgBox__hangImages--img04{
	left: 3px;
    top: 223px;
    z-index: 1;
}

.imgBox__hangImages--img05{
	left: 254px;
    top: 320px;
    z-index: 0;
}

.imgBox__hangImages--img06{
	left: 0px;
    top: 320px;
    z-index: 0;
}

.imgBox__hangImages--img07{
	left: 144px;
    top: 371px;
    z-index: 0;
}

.imgBox__hangImages--img08{
	left: 54px;
    top: 371px;
    z-index: 0;
}

.imgBox__hangImages--img09{
	    left: 177px;
    top: 532px;
    z-index: -1;
}

.imgBox__hangImages--img010{
	left: 20px;
    top: 532px;
    z-index: -1;
}