
@font-face {
  font-family: AllerDisplay, sans-serif;
  src: url(assets/fonts/AllerDisplay.ttf), format('truetype');
}

// reset styles

html, body, h1, h2, h3, p, ol, ul, li, a, div{
  padding: 0;
  border: 0;
  margin: 0;
}

body{
  font-family: AllerDisplay, sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: $backgroundColor;
  padding: 85px;
}