//colors

$backgroundColor: #3b4263;
$fontColorGrey: #53555d;
$fontColorBlue: #4d69fa;
$fontColorPurple: #50525a;
$emptyBoxColor: #e6e6e7;
$triangleColor: #4d71fa;
$borderGameOverColor: #ffb900;
$backgroundGameOverColor: rgba(255, 185, 110, 0.13);

//fonts

$fontFamily: AllerDisplay, sans-serif;
$fontBasicSize: 16px;

//z-index variables

$imgUnderZ-index1: 1;
$imgOverZ-index2: 2;