
.clear{
	clear: both;
}

.mainContainer{
	padding: 34px;
    box-sizing: border-box;
	margin: auto;
	width: 810px;
	height: 490px;
	background: white;
	overflow: hidden;
	position: relative;
}

.mainContainer__boxLeft{
	width: 150px;
	float: left;
	position: relative;
}

.mainContainer__boxLeft--bar{
	position: relative;
	right: 142px;
}

.mainContainer__boxRight{
	margin-left: 350px;
}

.mainContainer__boxRight--missed{
	font-size: 16px;
	font-weight: 600;
	color: $fontColorGrey;
	margin-bottom: 12px;
}

.mainContainer__boxRight--missedLetters{
	font-size: 35px;
	font-weight: 600;
	color: $fontColorBlue;
}

.mainContainer__boxRight--missedLetters--spacing{
	padding-left: 2px;
	&:first-child{
		padding-left: 0;
	};
}

.triangularBackground{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 250px solid $triangleColor;
	border-left: 250px solid transparent;
}